{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "16.13.1",
          "esmodules": true
        },
        "useBuiltIns": "usage",
        "corejs": "3.19.3"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./src"
      }
    ]
  ]
}
